<div class="container-fluid">
<nav class="navbar">
    <a class="navbar-brand" href="/scrape" id= "scrapeMore">New Articles | </a>
    <a class="navbar-brand" href="/viewNotes"> Saved Notes </a>
</nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 scrollmenu">
            {{#each articles}}
            <div class = "col-xs-4 article" id={{_id}} data-url={{url}}>
                <h2><a href="{{url}}">{{title}}</a></h2>
                <p><a href="{{url}}">{{summary}}</a></p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <iframe class="viewArticle" id=001 src="https://climate.nasa.gov/features/?page=0&per_page=40&order=publish_date+desc%2C+created_at+desc&search=&category=98"></iframe>
        </div>
        <div class="col-xs-4" id="noteSection">
            <p>Add notes to a selected article here. Scrape new articles or view notes at the links above</p>
            <br><br>
            <hr>
            <form>
                Author: <br>
                <input type="text" id= "noteAuthor" name="author">
                <br>
                Note: <br>
                <input type="text" id= "newNote" name="note">
                <br>
                <input type="submit" id= "submitNote" value="Submit">
            </form>
        </div>
        </div>
    </div>
</div>