<div class="container-fluid">
    <nav class="navbar">
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>Saved Notes</h1>
            <hr>
            <a href="/"> Home </a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="results">
                    <thead>
                        <tr>
                            <th id="NoteAuthor">Author</th>
                            <th id="note">Note</th>
                            <th id="headline">Headline</th>
                            <th id="summary">Summary</th>
                            <th id="byline">Byline</th>
                            <th id="articleImage">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each article}}
                        <tr><td>{{noteAuthor}}</td>
                        <td>{{noteBody}}</td>
                        <td><a src="{{articleUrl}}">{{articleHeadline}}</a></td>
                        <td>{{articleSummary}}</td>
                        <td>{{articleByline}}</td>
                        <td><img src="{{articlePhoto}}"></td></tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>